<!-- app/templates/icecream_selection.html -->

{% extends "base.html" %}
{% block title %} Ice Cream Selection {% endblock title %}
{% block body %}
{% load static %}

<div class="container mt-2">
    <h2 class="display-4 text-success text-center">Order Ice Cream</h2>
    <hr>

    <div class="row">
        {% for flavor in flavors %}
        <div class="col-md-4 bg-light p-5">
            <div class="card" style="width: 20rem;">
                <img src="{{flavor.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title display-4 text-primary">{{ flavor.name }}</h6>
                    <p class="text-success bg-light">Price: {{ flavor.price }} Rs</p>

                    <!-- Display ingredients -->
                    <h6 class="card-body display-7 text-secondary">Ingredients:</h6>
                    <ul>
                        {% for ingredient in flavors_ingredients %}
                            {% if ingredient.flavor == flavor %}
                                <li>{{ ingredient.flavor_ingredients }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <!-- Order Form Link -->
<!--                    <a href="{% url 'orders' %}?flavor_id={{ flavor.id }}" class="btn btn-outline-success btn-lg">Order Now</a>-->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}
